*.json
*.jsons
*.txt
*.csv
/bad-data
/bad
/good-data
*.zip
good-data-stocksdone/товары-2022-05-13-1448-418384.json.badmaybe
*.badmaybe
*.filepart
__pycache__/functions.cpython-39.pyc
*.bak2
*.bak3
*.7z
/data-month
/data-3month